<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="versao" value="01-06-2017 0.0.1"/>
    <add key="ToleranciaPausa" value="0,25"/>
    <add key="ToleranciaInicioFim_Minutos" value="5"/>
    <add key="filaPausa" value=".\private$\NotificacaoPausa"/>

    <add key="Discador.Grupo" value="131"/>
    <add key="BI.GrupoCobrancaId" value="131"/>

    <!--<add key="Discador.Grupo" value="174"/>
    <add key="BI.GrupoCobrancaId" value="134"/>-->
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BusinessIntelligence.UI.Web-20160727030608.mdf;Initial Catalog=aspnet-BusinessIntelligence.UI.Web-20160727030608;Integrated Security=True" providerName="System.Data.SqlClient" />

    <add name="ConnectionStringDW" connectionString="Data Source=192.168.0.5\MSSQLSERVER2008;Initial Catalog=CobNetDW;Persist Security Info=True;User ID=sa;Password=Admin357/" />
    <add name="ConnectionStringCubo" connectionString="Data Source=http://192.168.0.5/olap/msmdpump.dll;Initial Catalog=CobNetDW;Persist Security Info=True;User ID=sa;Password=Admin357/" />

    <!--
    <add name="ConnectionStringDW" connectionString="Data Source=192.168.0.5\MSSQLSERVER2008;Initial Catalog=CobNetBradescoDW;Persist Security Info=True;User ID=sa;Password=Admin357/"/>
    <add name="ConnectionStringCubo" connectionString="Data Source=http://192.168.0.5/olap/msmdpump.dll;Initial Catalog=CobNetBradescoDW;Persist Security Info=True;User ID=sa;Password=Admin357/"/>
    -->
    <add name="ConnectionStringDiscadorCubo" connectionString="Data Source=http://192.168.0.5/olap/msmdpump.dll;Initial Catalog=DiscadorDW;Persist Security Info=True;User ID=sa;Password=Admin357/" />


    <add name="DiscadorDW" connectionString="Data Source=192.168.0.5\MSSQLSERVER2008;Initial Catalog=DiscadorDW;Persist Security Info=True;User ID=sa;Password=Admin357/" />
  </connectionStrings>
</configuration>
